.topmast {
    height: 115px;
    padding-top: 0px;
    background: #3580ca url("../img/top-bg-grasses.gif") repeat-x center bottom;
}

@media (max-width: 992px) {
    .ps-banner h1 {
        display: none;
    }
}

.ps-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

/* for header site logo  */

.parks_bg_banner .col-lg-9 {
    display: flex !important;
    align-items: center !important;
    padding-left: 2em;
}

.parks_bg_banner .col-lg-9 h1 {
    font-size: 2.7em;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.ps-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.modal-header {
    background-color: #529b6b;
    color: #fcb13f;
}

.modal-body {
    background-color: #529b6b;
    color: #fff;
}

.modal-footer {
    background-color: #529b6b;
}

.popover {
    max-width: 100%;
}

.btn-margin {
    margin-right: 3px;
}

.round-box {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.round-box h5 {
    font-weight: bold;
}

.nav-pills .nav-link {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0.5em !important;
    border-top-right-radius: 0.5em !important;
    margin-right: 0.25em !important;
    background: lightgray !important;
}

.nav-pills .nav-link.active {
    background: gray !important;
    color: white !important;
}

.nav-pills .nav-link {
    background: lightgray;
}

.table-referrals {
    font-size: 1em;
}

.btn-primary {
  color: #fff !important;
  background-color: #226fbb !important;
  border-color: #226fbb !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #5393d2 !important;
  border-color: #5393d2 !important;
}

/* Bring app content inline with header logo and navbar */
div#app .container {
    padding: 0 40px 0 40px;
    margin-bottom: 45px;
}

div#app .container h3 {
    margin-bottom: 0.7em;
}

/* DataTables buttons spacing */

.dt-buttons {
    margin-left: 8px;
}

/* Pagination links */
.page-item>.page-link {
    color: #226fbb;
}

.page-item.active>.page-link {
    color: #fff;
    background-color: #226fbb !important;
    border-color: #226fbb !important;
}

.nav-link {
    color: #226fbb;
}

/* To avoid the change in the arrow display b'coz of the global font-family: var(--bs-font-sans-serif); */
.dtr-control:before {
    font-family: None;
}

/* Datatables styles */


table.dataTable a {
    color: #226fbb;
}

table.dataTable a:hover {
    color: #5393d2;
}


.collapse-icon {
    cursor: pointer;
}

.expand-icon {
    cursor: pointer;
}

.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(48, 133, 214, 0.7) !important;
}

/* Make sure sweet alert 2 shows on top of all other elements including modals and popovers */

.swal2-container {
    z-index: 21000 !important;
}

.swal2-popup {
    z-index: 21001 !important;
}

.bg-primary {
    background-color: #226fbb !important;
}

.form-check-input:checked {
    background-color: #226fbb !important;
}

label {
    font-weight: 700;
    margin-bottom: 5px;
}

.dropdown-menu {
    z-index: 2200 !important;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: #505050 !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected {
    color: #fff;
    background-color: #226fbb !important;
}
.text-primary {
    color: #226fbb !important;
}
