{% extends "ledgerui/organisation.html" %}

{% load static %}
{% load users %}
{% load django_vite %}

{% block extra_css %}
    {{ block.super }}
    <link type="text/css" href="{% static 'disturbance/css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block menu_items_left_brand %}
  {% is_internal as is_internal_login %}
  <div class="navbar-nav">
    <div class="nav-item">
      <a class="nav-link{% if request.path == '/' %} active{% endif %}" href="{% url 'home' %}"><img src="{% static 'disturbance/img/dpaw_small.png' %}" class="me-2">{% if is_internal_login %}Applications{% else %}Home {% endif %}</a>
    </div>
  </div>
{% endblock menu_items_left_brand %}

{% block myorganisation_nav %}

<button class="nav-link managed-organisation-nav" id="nav-manage-organisation-tab" data-bs-toggle="tab" data-bs-target="#nav-manage-organisation" type="button" role="tab" aria-controls="nav-manage-organisation" aria-selected="false">Manage Organisation</button>

{% endblock %}

{% block additional_content %}

<div id="nav-manage-organisation-tab-page" style="display:none;">
    <div id="app"></div>
</div>


{% vite_asset vue3_entry_script app='default' %}

<!--<script type="text/javascript" src="{% static 'disturbance_vue/js/chunk-vendors.js' %}?v={{GIT_COMMIT_HASH}}"></script>
<script type="text/javascript" src="{% static 'disturbance_vue/js/app.js' %}?v={{GIT_COMMIT_HASH}}"></script>-->

{% endblock %}	