{% extends 'disturbance/base.html' %}
{% load static %}
{% load users %}

{% block extra_css %}
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
    <link rel="stylesheet" href="{% static 'disturbance/css/base.css' %}?v={{ GIT_COMMIT_HASH }}" />
{% endblock %}

{% block extra_js %}
    {{super}}
{% endblock %}

{% block requirements %}
{% endblock %}

{% block content %}
    <div class="container-fluid" id="dashboard-table-container">
        {% block vue-component %}
            <div id="app"></div>
        {% endblock %}
    </div>
{% endblock %}
